

.main1{
    display: flex;
    flex-wrap: wrap;
}
.user_details {
    margin-top: 0px;
    width: 100%;
    background: #b058c4;
    display: flex;
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    font-size: 20px;
}
.posts{
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.post_title{
    display: flex;
    justify-content: inherit;
    align-items: center;
    display: flex;
    align-items: center;
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
    background: #8736b6;
}


.post_button{
    display: block;
    width: 90%;
    border-radius: 2px;
    background: #beb94d;
}
.button_details{
    width: 40%;
    border-radius: 2px;
    background: #91be4d;
}



.post_title button{
    display: block;
    width: 40%;
    margin: 5px auto;
    background: #8869d9;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;

}





