.user_details{
    width: 100%;
    background: #b058c4;
    display: flex;
    flex-direction: column;
}
.user_details button, .user button, .post_details button {
    display: block;
    width: 90%;
    margin: 5px auto;
    background: #2b75d5;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.button_details{
    display: block;
    width: 90%;
    border-radius: 10px;
}