

.post_details{
    background: #866ace;
    margin: 10px;

}
.comments{
    margin-left: 200px;
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.comment{
    /*display: flex;*/
    /*align-items: center;*/
    width: 175px;
    height: 220px;
    margin-bottom: 10px;
    background: #0090fe;
}

