# Default ignored files
/../../mini_project_j.s./.idea/shelf/
/../../mini_project_j.s./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../mini_project_j.s./.idea/httpRequests/
# Datasource local storage ignored files
/../../mini_project_j.s./.idea/dataSources/
/../../mini_project_j.s./.idea/dataSources.local.xml
